body {
    font-family: 'nanum gothic', sans-serif
}

.header {
    font-family: 'MaruBuri';
    font-size: 40px;
    font-weight: ;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    justify-content: center;
    width: 80%vw;
}

.style-input-container {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    gap: 15px;
    margin-bottom: 30px;
}


.style-input-content {
    width: 300px;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 25px;
    border-color: #A2AAAD;
    border-style: solid;
}

.style-input-date {
    width: 150px;
    padding: 10px;
    border-radius: 25px;
    font-size: 17px;
    border-color: #A2AAAD;
    border-style: solid;
    justify-self: center;
    text-align: center;

}

.style-add-button {
    height: 50px;
    padding: 10px 15px;
    background-color: #007AFF;
    color: white;
    border: none;
    border-radius: 25px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
}

.js-display {
    font-size: 17px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    align-items: center;
    gap: 15px;
}

.delete-button {
    padding: 10px 15px;
    width: 100px;
    background-color: #A2AAAD;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: black;
    transition: ease-in 0.3s;
}
.grid-aline-date {
    display: grid;
    width: 150px;
    justify-self: center; 
    text-align: center;
}

.grid-aline-centent {
    padding-left: 20px;
    width: 300px;
}